.flip-container.hover .flipper,
.flip-container.flip .flipper {
  transform: rotateY(180deg);
}

#statistics {
  margin: auto;
  margin-bottom: 30px;
  justify-content: center;
  font-family: "Bangers", cursive;
  font-size: 16pt;
}

#header {
  text-align: center;
  margin: auto;
  justify-content: center;
  font-family: "Nosifer", cursive;
  font-size: 20pt;
  margin-top: -20px;
  margin-bottom: -30px;
}

#timer-container {
  text-align: center;
  margin: auto;
  justify-content: center;
}
#timer {
  text-align: center;
  margin: auto;
  justify-content: center;
}

#failed-attempts {
  text-align: center;
  margin: auto;
  justify-content: center;
}

#scoreboard {
  text-align: center;
  margin: auto;
  justify-content: center;
}

#wrapper {
  margin: auto;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-gap: 5px;
  grid-template-rows: repeat(4, 120px);
}

p {
  display: inline;
}

.card {
  /* border-radius: 5px; */
  /* border: 1px solid rgb(0, 0, 0); */
  /* background-color: gray; */
  align-content: center;
}

.row1 {
  grid-column: 1 / 2;
}

.row2 {
  grid-column: 2 / 3;
}

.row3 {
  grid-column: 3 / 4;
}

.row4 {
  grid-column: 4 / 5;
}

.column1 {
  grid-row: 1 / 2;
}

.column2 {
  grid-row: 2 / 3;
}

.column3 {
  grid-row: 3 / 4;
}

.column4 {
  grid-row: 4 / 5;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}

/* flip the pane when hovered */
/* .flip-container:hover .flipper, .flip-container.hover .flipper {
 transform: rotateY(180deg);
} */

.flip-container.hover .flipper,
.flip-container.flip .flipper {
  transform: rotateY(540deg);
}

/* .flipper, .flip-container.clicked .flipper {
 transform: rotateY(180deg);
} */

/* .flip-container, .front, .back {
    width: 320px;
    height: 480px;
} */

/* flip speed goes here */
.flipper {
  transition: 0.4s;
  transform-style: preserve-3d;

  width: 100%;
  height: 100%;

  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  border-radius: 5px;
  background-color: rgb(255, 0, 0);

  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  border-radius: 5px;
  background-color: rgb(255, 243, 0);
  transform: rotateY(540deg);
}

img {
  max-width: 100%;
  max-height: 100%;
}

.modal {
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%;
  top: 50%;
  width: 50%; /* Full width */
  height: 30%; /* Full height */
  margin-left: -25%;
  margin-top: -20%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgb(116, 166, 240); /* Black w/ opacity */
}

#tileset-selector {
  margin-top: 100px;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.matched .back {
  background-color: rgb(62, 171, 69);
  transition: background-color 3s ease;
}
